@use "../../SCSS/breakpoint-mixins" as breakpoint;
@use "../../SCSS/variables";
@use "../../SCSS/font-mixins" as fontMixins;
@use "../../SCSS/button-mixins" as ButtonMixin;

.header-component {
  height: 77px;
  opacity: 0.9;
  background: variables.$dark-dark-d-2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint.desktopFixedWidth;
    @media (max-width: variables.$tabletBreakpoint) and (min-width: variables.$mobileBreakpoint) {
      @include breakpoint.tabletFixedWidth;
    }
    @media (max-width: variables.$mobileBreakpoint) {
      @include breakpoint.mobileFixedWidth;
    }
    height: 100%;
    .header-logo {
      text-decoration: none;
      h1 {
        margin-top: 0;
        margin-bottom: 0;

        @include fontMixins.fontStyleBold(
          $fontColor: variables.$light-white,
          $fontSize: 36px
        );
        @media (max-width: variables.$mobileBreakpoint) {
          font-size: 32px;
        }
      }
    }
    .header-nav-links {
      list-style: none;
      display: flex;
      margin: 0;

      @media (max-width: variables.$tabletBreakpoint) {
        display: none;
      }
      a {
        padding: 13px 32px;
        text-decoration: none;
        @include fontMixins.fontStyleSemiBold(
          $fontColor: variables.$secondary-secondary-l-2,
          $fontSize: 14.5px
        );
      }
    }

    .header-nav-buttons {
      display: flex;
      gap: 12px;
      .book-now-link {
        text-decoration: none;
        button {
          @include ButtonMixin.redButtonMixin;

          @media (max-width: variables.$tabletBreakpoint) {
            display: none;
          }
        }
      }
      .login-link {
        text-decoration: none;
      }
      .mobile-toggle-button {
        padding: 14px 14px;
        width: 46px;
        height: 46px;
        background-color: variables.$dark-dark-d-2;
        border-radius: 1000px;
        border: 1px solid var(--light-white, #fff);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        @media (max-width: variables.$tabletBreakpoint) {
          display: inline-block;
        }
        @media (max-width: variables.$mobileBreakpoint) {
          display: inline-block;
          padding: 12px;
          width: 42px;
          height: 42px;
        }
      }
    }
  }
  .header-mobile-nav {
    width: 400px;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    overflow-y: scroll;
    z-index: 10 !important;
    @media (min-width: variables.$tabletBreakpoint) {
      display: none;
    }
    .header-mobile-top-bar {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      align-items: center;
      .title {
        text-decoration: none;
        h1 {
          margin-top: 0;
          margin-bottom: 0;

          @include fontMixins.fontStyleBold(
            $fontColor: variables.$light-white,
            $fontSize: 32px
          );
        }
      }
      .mobile-button-containers {
        display: flex;
        align-items: center;
        gap: 12px;
      }
      .mobile-book-now-link {
        text-decoration: none;
        button {
          @include ButtonMixin.redButtonMixin;
          font-size: 14px;
        }
      }
      .cancel-button {
        background-color: #000;
        border: none;
        padding: 0;
        margin: 0;
        height: fit-content;
      }
    }
    .mobile-header-nav-links {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      margin: 0;
      list-style: none;
      position: relative;
      z-index: 5;
      li {
        padding: 12px 15px;
        background-color: #f5f5f7;
        border-radius: 8px;

        a {
          text-decoration: none;
          @include fontMixins.fontStyleSemiBold(
            $fontSize: 16px,
            $fontColor: #000
          );
        }
      }
    }
  }
}

.link-active-class {
  font-weight: 700;
  text-decoration: underline !important;
  text-decoration-color: white;
  color: white !important;
  text-decoration-thickness: 2px !important;
  text-decoration-skip-ink: none;
}
